.doctors-container{
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 75rem;
    height: 40rem;
    background: #6AB9D2;
}


.doctor-profile{
    align-items: center;
    width: 240px;
    height: 300px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    background: #fff;

}

.doctor-Img{
    border-radius: 5rem;
    margin-top: 20px;
    margin-left:70px ;
}


.doctors-inputs{
    align-items: center;
    margin-top: 10px;
    margin-left:70px;
    list-style: none;
}

.book-appointment{
    margin-top: 20px;
    margin-left: 60px;
    width: 120px;
    height: 30px;
    background: #6AB9D2;
    border-radius: 20px;
}