.profileNav{
    margin-left: 60rem;
    margin-top: 2rem;
    border: 10px;
    border-radius: 10px;
    width: 20rem;
    height: 30rem;
    align-items: center;
    background: #fff;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.user-container{
    margin-top: 30px;
}

.userImg{
    margin-top: 1rem;
    border-radius: 50px;
}

.userName{
    margin-top: 20px;

}

.edit-items{
    display: flex;
    flex-direction: column;

}

.p-edit{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    background: #fff;
}

.p-edit-img{
    margin-top: 3px;
    margin-left: 1px;
}

.p-edit-text{
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: x-large;
}

.p-logout{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    background: #fff;

}

.p-log-img{
    margin-top: 3px;
    margin-left: 1px;
    background: #fff;
}

.p-log-text{
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: x-large;
}